<h1>TAARANGANA 2018</h1>

<br>
<br>
<br>
<br>

<%= form_tag('/register', method: "post") do%>

  <%= label_tag(:Name, "Name:") %>
  <%= text_field_tag(:Name) %><br>

  Gender : <%= radio_button_tag(:Gender, "male") %>
  <%= label_tag(:Gender_male, "Male") %>
  <%= radio_button_tag(:Gender, "female") %>
  <%= label_tag(:Gender_female, "Female") %>
  <%= radio_button_tag(:Gender, "other") %>
  <%= label_tag(:Gender_other, "Other") %><br><br>

Year :

  <%= radio_button_tag(:Year, "First") %>
  <%= label_tag(:Year, "First") %>

  <%= radio_button_tag(:Year, "Second") %>
  <%= label_tag(:Year, "Second") %>

  <%= radio_button_tag(:Year, "Third") %>
  <%= label_tag(:Year, "Third") %>

 <%= radio_button_tag(:Year, "Fourth") %>
  <%= label_tag(:Year, "Fourth") %>
<br>

 Branch :<br><br>

  <%= check_box_tag(:Branch) %>
  <%= label_tag(:Branch, "CSE") %>

   <%= check_box_tag(:Branch) %>
   <%= label_tag(:Branch, "IT") %>

   <%= check_box_tag(:Branch) %>
   <%= label_tag(:Branch, "ECE") %>

   <br><br><br>


  <%= label_tag(:Phone, "Phone") %>
  <%= text_field_tag(:Phone) %><br>

<%= label_tag(:Email, "Email:") %>
<%= email_field(:user,:Email) %><br>

<%= label_tag(:password, "password:") %>
<%= password_field_tag(:password)%><br>


<%= label_tag(:Other, "Tarangana mean to you:") %>
<%= text_area_tag(:Other)%><br>


<%= submit_tag 'Register',:class=>("btn waves-effect waves-light col s12")%>
<br>
<br>
<br>


<%end%>
